:root{
    --MainColor:rgba(214, 46, 51 , 0.6);
    --secondSectionSingerNameColor:rgba(214, 46, 51 , 0.6);
    --secondSectionSingerContentColor:#ccc;
    --btnColor:#D62E33;
    --textColor:#D62E33;

}

